<a href="https://colab.research.google.com/github/noorsahar001/Assignment4_Python/blob/main/Assignment4_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**List Methods Practice**

#**Tasks:**

**1. Create and Modify Lists**

o Create a list called fruits with the items: "apple", "banana", "orange"


o Add "grape" to the end of the list using an appropriate method


o Insert "mango" at position 2 in the list


o Remove "banana" from the list


o Print the final list

In [ ]:
fruits = ["apple", "banana", "orange"]
fruits.append("grape")
fruits.insert(2, "mango")
fruits.remove("banana")
print("Final list of fruits:", fruits)

Final list of fruits: ['apple', 'mango', 'orange', 'grape']

**2. List Operations**


o Create a list numbers with values: 10, 20, 30, 40, 50


o Create a second list more_numbers with values: 60, 70, 80


o Combine both lists into a new list called all_numbers


o Make a copy of all_numbers called numbers_copy


o Reverse the order of numbers_copy


o Print both all_numbers and numbers_copy

In [ ]:
numbers = [10, 20, 30, 40, 50]
more_numbers = [60, 70, 80]
all_numbers = numbers + more_numbers
numbers_copy = all_numbers.copy()
numbers_copy.reverse()
print("All Numbers:", all_numbers)
print("Reversed Copy:", numbers_copy)

All Numbers: [10, 20, 30, 40, 50, 60, 70, 80]
Reversed Copy: [80, 70, 60, 50, 40, 30, 20, 10]

**3. Sorting and Counting**


o Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74


o Sort the list in ascending order


o Sort the list in descending order

o Count how many times 92 appears in the list


o Find and print the highest and lowest scores


o Print the sorted list

In [ ]:
scores = [85, 92, 78, 65, 92, 85, 74]
scores_ascending = sorted(scores)
scores_descending = sorted(scores, reverse=True)
count_92 = scores.count(92)
highest_score = max(scores)
lowest_score = min(scores)
print("Original Scores:", scores)
print("Sorted (Ascending):", scores_ascending)
print("Sorted (Descending):", scores_descending)
print("Count of 92:", count_92)
print("Highest Score:", highest_score)
print("Lowest Score:", lowest_score)

Original Scores: [85, 92, 78, 65, 92, 85, 74]
Sorted (Ascending): [65, 74, 78, 85, 85, 92, 92]
Sorted (Descending): [92, 92, 85, 85, 78, 74, 65]
Count of 92: 2
Highest Score: 92
Lowest Score: 65

**4. List Manipulation**


o Create a list letters with values: "a", "b", "c", "d", "e"


o Use slicing to create a new list with only the first three letters


o Use slicing to create another list with only the last two letters


o Find and print the index of "c" in the list


o Replace "d" with "z" in the original list


o Print the modified list

In [ ]:
letters = ["a", "b", "c", "d", "e"]
first_three = letters[:3]
last_two = letters[-2:]
index_of_c = letters.index("c")
letters[letters.index("d")] = "z"
print("Original List (Modified):", letters)
print("First Three Letters:", first_three)
print("Last Two Letters:", last_two)
print("Index of 'c':", index_of_c)

Original List (Modified): ['a', 'b', 'c', 'z', 'e']
First Three Letters: ['a', 'b', 'c']
Last Two Letters: ['d', 'e']
Index of 'c': 2

#**Dictionary Methods Practice**

#**Tasks:**

**1. Create and Access Dictionaries**

o Create a dictionary called student with these key-value pairs:

 "name": "John"

 "age": 20

 "grade": "A"

 "courses": ["Math", "Science", "History"]

o Print the student's name


o Print the list of courses

o Add a new key-value pair: "email": "john@example.com"

o Print the entire dictionary

In [ ]:
student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
    }
print("Student_name:", student["name"])
print("Courses:", student["courses"])
student["email"] = "john@example.com"
print("Complete Student Dictionary:", student)

Student_name: John
Courses: ['Math', 'Science', 'History']
Complete Student Dictionary: {'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

**2. Modify Dictionary Values**

o Change the student's age to 21

o Add a new course "Computer Science" to the courses list

o Update the grade to "A+"

o Print the modified dictionary

In [ ]:
student["age"] = 21
student["courses"].append("Computer Science")
student["grade"] = "A+"
print("Modified Student Dictionary:", student)

Modified Student Dictionary: {'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science', 'Computer Science'], 'email': 'john@example.com'}

**3. Dictionary Operations**

o Create a second dictionary student_address with these key-value pairs:

 "street": "123 College Ave"

 "city": "New York"

 "zip": "10001"

o Combine both dictionaries into a new dictionary called student_info

o Remove the "zip" key from student_info

o Check if "phone" exists in the dictionary

o Print the final dictionary

In [ ]:
student_address = {
    "Street": "123 College Ave",
    "City": "New York",
    "Zip": "10001"
}
student_info = student.copy()
student_info.update(student_address)
student_info.pop("Zip")
phone_exists = "phone" in student_info
print("Final Student Info Dictionary:", student_info)
print("Does 'phone' exist in the dictionary?", phone_exists)

Final Student Info Dictionary: {'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science', 'Computer Science'], 'email': 'john@example.com', 'Street': '123 College Ave', 'City': 'New York'}
Does 'phone' exist in the dictionary? False

**4. Dictionary Methods**

o Create a dictionary word_count with these key-value pairs:

 "hello": 5

 "world": 10

 "python": 15

o Get all keys and print them as a list

o Get all values and print them as a list

o Get all key-value pairs and print them

o Make a copy of the dictionary

o Clear the original dictionary

o Print both dictionaries to verify one is empty and one is a copy

In [ ]:
word_count = {
    "hello": 5,
    "world": 10,
    "python": 15
}
keys_list = list(word_count.keys())
print("Keys:", keys_list)
values_list = list(word_count.values())
print("Values:", values_list)
items_list = list(word_count.items())
print("Key-Value Pairs:", items_list)
word_count_copy = word_count.copy()
word_count.clear()
print("Original Dictionary after clear():", word_count)
print("Copied Dictionary:", word_count_copy)

Keys: ['hello', 'world', 'python']
Values: [5, 10, 15]
Key-Value Pairs: [('hello', 5), ('world', 10), ('python', 15)]
Original Dictionary after clear(): {}
Copied Dictionary: {'hello': 5, 'world': 10, 'python': 15}

#**Shopping Discount Calculator**

#**Tasks**

**1. Set up the initial variables:**

o purchase_amount: The total cost of items in the shopping cart

o is_loyalty_member: Boolean (True/False) indicating if the customer is a loyalty member

o day_of_week: A string with the current day (e.g., "Monday", "Tuesday", etc.)

o is_holiday_season: Boolean indicating if it's currently a holiday shopping
season

In [ ]:
purchase_amount = 150.00
is_loyalty_member = True
day_of_week = "Tuesday"
is_holiday_season = False
print("Purchase Amount:", purchase_amount)
print("Loyalty Member:", is_loyalty_member)
print("Day of Week:", day_of_week)
print("Holiday Season:", is_holiday_season)

Purchase Amount: 150.0
Loyalty Member: True
Day of Week: Tuesday
Holiday Season: False

**2. Apply discount rules using if statements:**

o If purchase amount is greater than $100, apply a 10% discount

o If purchase amount is greater than $50 (but less than or  
equal to $100), apply a 5% discount

o If the customer is a loyalty member, apply an additional 5% discount

o If it's a weekend (Saturday or Sunday), apply an additional 2% discount

o If it's a holiday season, apply an additional 8% discount

In [ ]:
purchase_amount = 150.00
is_loyalty_member = True
day_of_week = "Tuesday"
is_holiday_season = False
# Initialize discount
discount = 0
if purchase_amount > 100:
    discount += 10  # 10% discount
elif purchase_amount > 50:
    discount += 5  # 5% discount
# Additional discounts
if is_loyalty_member:
    discount += 5  # Loyalty member discount
if day_of_week in ["Saturday", "Sunday"]:
    discount += 2  # Weekend discount
if is_holiday_season:
    discount += 8  # Holiday season discount
# Calculate final price after discount
discount_amount = (discount / 100) * purchase_amount
final_price = purchase_amount - discount_amount

print("Total Discount Percentage:", discount, "%")
print("Discount Amount: $", round(discount_amount, 2))
print("Final Price After Discount: $", round(final_price, 2))

Total Discount Percentage: 15 %
Discount Amount: $ 22.5
Final Price After Discount: $ 127.5

**3. Calculate and display:**

o The original purchase amount

o Each discount that was applied and its amount

o The final price after all discounts

In [ ]:
# Variables
purchase_amount = 150.00
is_loyalty_member = True
day_of_week = "Tuesday"
is_holiday_season = False
# Initialize discounts
discounts = []
# Base discount
if purchase_amount > 100:
    discounts.append(("Base Discount (10%)", 10))
elif purchase_amount > 50:
    discounts.append(("Base Discount (5%)", 5))
# Loyalty member discount
if is_loyalty_member:
    discounts.append(("Loyalty Discount (5%)", 5))
# Weekend discount
if day_of_week in ["Saturday", "Sunday"]:
    discounts.append(("Weekend Discount (2%)", 2))
# Holiday season discount
if is_holiday_season:
    discounts.append(("Holiday Discount (8%)", 8))
# Display original amount
print(f"Original Purchase Amount: ${purchase_amount:.2f}")
# Apply and display each discount
total_discount_amount = 0
for label, percent in discounts:
    amount = (percent / 100) * purchase_amount
    total_discount_amount += amount
    print(f"{label}: -${amount:.2f}")
# Final price
final_price = purchase_amount - total_discount_amount
print(f"\nTotal Discount Amount: -${total_discount_amount:.2f}")
print(f"Final Price After All Discounts: ${final_price:.2f}")

Original Purchase Amount: $150.00
Base Discount (10%): -$15.00
Loyalty Discount (5%): -$7.50

Total Discount Amount: -$22.50
Final Price After All Discounts: $127.50

#**For Loop Assignment - Number Patterns**

**Pattern 1: Counting Numbers**

o Print numbers from 1 to 10 on a single line.

In [ ]:
print("Pattern 1: Counting Numbers")
for i in range(1,11):
  print(i, end=" ")
print()

Pattern 1: Counting Numbers
1 2 3 4 5 6 7 8 9 10

**Pattern 2: Multiplication Table**

o Create a multiplication table for the number 5 (from 1 to 10).

In [ ]:
print("Pattern 2: Multiplication Table of 5")
for i in range(1,11):
  print(f"5 * {i} = {5 * i}")

Pattern 2: Multiplication Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

#**While Loop Assignment - Interactive Game**

Write a Python program that:
1. Sets a "secret number" (you can choose any number between 1 and 50)
2. Asks the player to guess the number
3. Tells the player if their guess is too high or too low
4. Keeps asking until the player guesses correctly
5. Keeps track of how many guesses it took

In [ ]:
secret_number = 42
guess_count = 0
print("Welcome to number guessing game!")
print("Guess the secret number between 1 and 50")
#start guessing
while True:
    guess = int(input("Enter your guess: "))
    guess_count += 1

    if guess < secret_number:
        print("Too low! Try again.")
    elif guess > secret_number:
        print("Too high! Try again.")
    else:
        print(f"Congratulations! You guessed it right in {guess_count} tries.")
        break

Welcome to number guessing game!
Guess the secret number between 1 and 50
Enter your guess: 56
Too high! Try again.
Enter your guess: 28
Too low! Try again.
Enter your guess: 40
Too low! Try again.
Enter your guess: 50
Too high! Try again.
Enter your guess: 45
Too high! Try again.
Enter your guess: 42
Congratulations! You guessed it right in 6 tries.

#**Student Grade Management System**

#**Requirements:**

1. Create a list to store information about students

In [ ]:
students = []

2. Each student should be represented as a dictionary with the following keys:

o name: The student's full name

o id: A unique student ID number

o grades: Another dictionary containing course names as keys and grades as values

In [ ]:
students.append({
    "name": "Sadiya Khan",
    "id": 101,
    "grades": {
        "Math": 85,
        "Science": 90,
        "English": 78
    }
})
students.append({
    "name": "Ali Ahmed",
    "id": 102,
    "grades": {
        "Math": 92,
        "Science": 88,
        "English": 95
    }
})
students.append({
    "name": "Sajjid Hussain",
    "id": 103,
    "grades": {
        "Math": 70,
        "Science": 65,
        "English": 80
    }
})

3. Your program should:

o Add at least 3 students to the list

o Add grades for at least 3 courses for each student

o Display all students with their grades

o Calculate and display the average grade for each student

o Find and display the student with the highest average grade

o List all students with an average grade above 80

o Calculate and display the average grade for a specific course

o Add a new student to the system

In [ ]:
#create a list
students = []

#add students with name, id, and grades
students.append({
    "name": "Sadiay Khan",
    "id": 101,
    "grades": {
        "Math": 85,
        "Science": 90,
        "English": 78
    }
})

students.append({
    "name": "Ali Ahmed",
    "id": 102,
    "grades": {
        "Math": 92,
        "Science": 88,
        "English": 95
    }
})

students.append({
    "name": "Sajid Hussain",
    "id": 103,
    "grades": {
        "Math": 70,
        "Science": 65,
        "English": 80
    }
})

#display all students with grades
print("\n All Students and Their Grades:")
for student in students:
    print(f"\nName: {student['name']}, ID: {student['id']}")
    for course, grade in student["grades"].items():
        print(f"  {course}: {grade}")

#average grade for each student
print("\n Average Grade for Each Student:")
for student in students:
    grades = student["grades"].values()
    average = sum(grades) / len(grades)
    student["average"] = average  # Store average for later use
    print(f"{student['name']} - Average: {average:.2f}")

#student with the highest average grade
top_student = max(students, key=lambda x: x["average"])
print(f"\n Student with Highest Average Grade: {top_student['name']} ({top_student['average']:.2f})")

#average grade above 80
print("\n Students with Average Grade Above 80:")
for student in students:
    if student["average"] > 80:
        print(f"{student['name']} - Average: {student['average']:.2f}")

#average grade for a specific course
course_name = "Math"
total = 0
count = 0
for student in students:
    if course_name in student["grades"]:
        total += student["grades"][course_name]
        count += 1

if count > 0:
    course_avg = total / count
    print(f"\n Average Grade in {course_name}: {course_avg:.2f}")
else:
    print(f"\nCourse '{course_name}' not found.")

#Add a new student
new_student = {
    "name": "Sara Farooq",
    "id": 104,
    "grades": {
        "Math": 88,
        "Science": 91,
        "English": 85
    }
}
students.append(new_student)
print(f"\n New Student Added: {new_student['name']} (ID: {new_student['id']})")

 All Students and Their Grades:

Name: Sadiay Khan, ID: 101
  Math: 85
  Science: 90
  English: 78

Name: Ali Ahmed, ID: 102
  Math: 92
  Science: 88
  English: 95

Name: Sajid Hussain, ID: 103
  Math: 70
  Science: 65
  English: 80

 Average Grade for Each Student:
Sadiay Khan - Average: 84.33
Ali Ahmed - Average: 91.67
Sajid Hussain - Average: 71.67

 Student with Highest Average Grade: Ali Ahmed (91.67)

 Students with Average Grade Above 80:
Sadiay Khan - Average: 84.33
Ali Ahmed - Average: 91.67

 Average Grade in Math: 82.33

 New Student Added: Sara Farooq (ID: 104)